body
{
  border: 0;
  font-size: 100%;
  font: inherit;
  padding: 0; 
  margin : 0;
  background-color: #08090A;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 0;
}

h1
{
  color: white;
  font-size: 40px;
}

#menu ul 
{
  position: relative;
  padding:0px;
  margin:0px;
  list-style:none;
  z-index: 2;
}

#menu ul li 
{ 
  position: relative;
  display: inline; 

}

#menu ul li a 
{
  padding: 2px 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
  z-index: 2;
}

#menu ul li a:hover
{
  background: white;
  color: black;
  border-radius: 20px;
}

#SistemaSolar
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.Stars 
{
  width: 100%;
  height: 100%;
  background-image: url('img/stars.jpg');
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65; 
  margin : collapse;
  position: absolute;
  z-index: -10;
} 

.Glow
{
  width: 100%;
  height: 100%;
  background-image: url('img/glow.jpg');
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;                                                                                                                            
  margin : collapse;
  position: absolute;
  z-index: -10;
}

/*@media screen and(max-width: )
.sol
{
  border: none;
  background:url('img/sun.png') transparent no-repeat;
  width: 7.5%;
  height: 15%;
  position: absolute;
  top: 45%;
  left: 27%;
  pointer-events: none;
  user-select: none;
}

.mercurio
{
  border: none;
  background:url('img/p-mercury.png') transparent no-repeat;
  width: 1%;
  height: 2%;
  position: absolute;
  top: 53%;
  left: 38%;
  pointer-events: none;
  user-select: none;
}

.venus
{
  border: none;
  background:url('img/p-venus.png') transparent no-repeat;
  width: 1.7%;
  height: 3.5%;
  position: absolute;
  top: 52%;
  left: 41%;
}

.terra
{
  border: none;
  background:url('img/p-earth.png') transparent no-repeat;
  width: 2.2%;
  height: 3.8%;
  position: absolute;
  top: 52%;
  left: 45%;
}

.marte
{
  border: none;
  background:url('img/p-mars.png') transparent no-repeat;
  width:2%;
  height: 3.5%;
  position: absolute;
  top: 52.3%;
  left: 49%;
}

.jupiter
{
  border: none;
  background:url('img/p-jupiter.png') transparent no-repeat;
  width: 6.3%;
  height: 10.8%;
  position: absolute;
  top: 48%;
  left: 54%;
}

.saturno
{
  border: none;
  background:url('img/p-saturn.png') transparent no-repeat;
  width: 5.1%;
  height: 8.8%;
  position: absolute;
  top: 49.5%;
  left: 62%;
}

.urano
{
  border: none;
  background:url('img/p-uranus.png') transparent no-repeat;
  width: 4.3%;
  height: 7%;
  position: absolute;
  top: 51%;
  left: 70%;
}

.netuno
{
  border: none;
  background:url('img/p-neptune.png') transparent no-repeat;
  width: 3.5%;
  height: 6.2%;
  position: absolute;
  top: 51.5%;
  left: 75%;
}
*/

/*@media only screen and(max-width: 1800px)
{*/
  canvas
  {
    position: absolute;
    top: 15%;
  }

  .sol
  {
    border: none;
    background:url('img/sun.png') transparent no-repeat;
    width: 10%;
    height: 17%;
    position: absolute;
    top: 50%;
    left: 45.125%;
    z-index: 1;
  }

  .grow:hover
  {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
  }


  .mercurio
  {
    border: none;
    background:url('img/p-mercury.png') transparent no-repeat;
    width: 1%;
    height: 2%;
    position: absolute;
    top: 58%;
    left: 42%;
    pointer-events: none;
    user-select: none;
    z-index: 1;
  }

  .venus
  {
    border: none;
    background:url('img/p-venus.png') transparent no-repeat;
    width: 2%;
    height: 4%;
    position: absolute;
    top: 57%;
    left: 38.5%;
    z-index: 1;
  }

  #terra
  {
    border: none;
    background:url('img/p-earth.png') transparent no-repeat;
    width: 2.2%;
    height: 3.8%;
    position: absolute;
    top: 57%;
    left: 35%;
    z-index: 1;
  }

  .marte
  {
    border: none;
    background:url('img/p-mars.png') transparent no-repeat;
    width:2%;
    height: 3.5%;
    position: absolute;
    top: 57.3%;
    left: 31.5%;
    z-index: 1;
  }  

  .jupiter
  {
    border: none;
    background:url('img/p-jupiter.png') transparent no-repeat;
    width: 6.3%;
    height: 10.8%;
    position: absolute;
    top: 53%;
    left: 25%;
    z-index: 1;
  }

  .saturno
  {
    border: none;
    background:url('img/p-saturn.png') transparent no-repeat;
    width: 5.1%;
    height: 8.8%;
    position: absolute;
    top: 54.5%;
    left: 20%;
    z-index: 1;
  }

  .urano
  {
    border: none;
    background:url('img/p-uranus.png') transparent no-repeat;
    width: 4.3%;
    height: 7%;
    position: absolute;
    top: 56%;
    left: 70%;
    z-index: 1;
  }

  .netuno
  {
    border: none;
    background:url('img/p-neptune.png') transparent no-repeat;
    width: 3.5%;
    height: 6.2%;
    position: absolute;
    top: 56.5%;
    left: 75%;
    z-index: 1;
  }
/*}*/


.sectionPlaneta
{
  position: absolute;
  top: 15%;
  left: 5%;
  width: 90%;
  height: 80%;
  background:#888888;
  border-radius: 30px;
  opacity: 0.9;
  box-shadow: 5px 10px black;
}

.Voltar
{
  font-size:15px;
  border-radius: 200px;
  padding: 2px 18px;
  background:white;
  text-decoration: none;
  color: white;
  position: absolute;
  left: 94.6%;
  top: 1%;
  opacity: 0.9;
}

.divImagem
{
  position: absolute;
  left: 0;
  top: 0;
  border:2px solid black;
  width: 45%;
  height: 100%;
}



.SolReal
{
  background:url("img/Sol.png");
  position: absolute;
  left: -35%;
  top: -15%;
  width: 125%;
  height: 110%;
}

#OrbitaMercurio
{
  width:200; 
  height:100;
  position: absolute;
  top: 48%;
  left: 38.5%;
}